<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{app.title}"> Title </title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1 th:text="#{app.user-details}">Details</h1>
<table>
    <tr>
        <th th:text="#{user.id}"/>
        <th th:text="#{user.name}"/>
        <th th:text="#{user.gender}"/>
        <th th:text="#{user.married}+ '?'"/>
        <th th:text="#{user.profile}"/>
    </tr>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.userId}">UserID</td>
        <td th:text="${user.userName}">Title</td>
        <td th:text="${user.gender}">Gender</td>
        <td th:text="${user.married}">Married</td>
        <td th:text="${user.profile}">Profile</td>
    </tr>
</table>
<a href="#" th:href="@{/app/create-user}" th:text="#{user.add-more-users}">Add User</a>
</body>
</html>   